body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.selected {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

@media (max-width: 760px) {
  .card-collection {
    grid-template-columns: repeat(2, 1fr);
    font-size: 12px;
  }

  .card-collection h5 {
    font-size: 14px;
  }

  .card-collection img {
    width: 100px;
    height: 100px;
    margin: 0;
    position: relative;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
